<div class="row">

            <div class="col-md-3 profile">
                <div class="userpic">
                    <img src="sq-logo.png" class="img-fluid" alt="avatar">
                </div>

                <div class="username">
                    <h1>username</h1>
                </div>

                <div class="profile">
                    <h3>health</h3>
                    <br>
                    <h3>level</h3>

                </div>
            </div>
            {{> display}}

            {{> footer}}

            {{> footer-end}}